// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//reset
@import "reset";

//color
@import "./color.scss";

//mixin
@import "./mixin/registration_mixins";
@import "./mixin/top-page_mixins";
@import "./mixin/post_mixins.scss";

@import "./module/header.scss";
@import "./module/error.scss";
@import "./module/main.scss";
@import "./module/side.scss";
@import "./lp/top";

html {
    background: $background_color;
}

.post_ontainer-fluid {
    background: $background_color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    margin-right: 0px;
}
.login-container {
    padding: 30px 0;
    min-height: 680px;
}
