$green: #1b76be;
$background_color: #f1f8fc;
$gray: #888888;
$light-gray: #ccc;
$border-gray: #eee;
$table-gray: #fafafa;
$blue: #0099e8;
$red: #ea352d;
$black: #4f5050;
$white: #ffffff;

$evaluation-red: #e95084;
$evaluation-yellow: #f4a833;
$evaluation-blue: #6ab5d8;

$border-top-gray: #eee;
$border-form-gray: #ccc;
$btn-gray: #aaa;
$h3-text-gray: #888;
